
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>退课登记</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">
    <div th:include="/fragments/navigation :: #orgNav"></div>
</div> <!-- /container -->

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">退课记录</div>
                <!-- Default panel contents -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <!--form-->
                            <form  th:action="@{/organization/{id}/dropRecordCreation(id=${session.organization.getId()})}"
                                   method="post">

                                <div class="form-group">
                                    <label >班级名称</label>
                                    <select name="classId" id="classId"  class="form-control">
                                        <option th:each="project:${projects}"  th:value="${project.getId()}">
                                            <span th:text="${project.getClassName()}"></span>
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="studentName">学生姓名</label>
                                    <input  class="form-control" name="studentName" id="studentName" placeholder="学生姓名" />
                                </div>

                                <label for="studentName">用户类型</label>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="userType" id="member" value="member" />会员
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="userType" id="non_member" value="non_member" />非会员
                                    </label>
                                </div>
                                <label for="studentName">退款方式</label>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="payMethod" id="card" value="card" />会员卡
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="payMethod" id="cash" value="cash" />现金
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="price">学费</label>
                                    <input  class="form-control" name="price" id="price" placeholder="学费" />
                                </div>

                                <div class="form-group">
                                    <label for="payment">实收费用</label>
                                    <input  type="number" class="form-control" name="payment" id="payment" placeholder="学费" />
                                </div>
                                <button type="submit" class="center-block btn  btn-default">退课登记</button>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/student/price.js}"></script>

</body>
</html>
