
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link  th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
    <link  th:href="@{/css/auth/login.css}" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#" class="active" id="login-form-link">登录</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" id="register-form-link">注册</a>
                    </div>
                </div>
                <hr/>
            </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/login" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                           placeholder="用户名" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control"
                                           placeholder="密码" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="role"  >
                                        <option value="student" selected="selected">学员</option>
                                        <option value="organization">机构</option>
                                        <option value="manager">总经理</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login"
                                                   value="登录" />
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <form id="register-form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="rusername" id="rusername" tabindex="1" class="form-control"
                                           placeholder="用户名" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="rpassword" id="rpassword" tabindex="2" class="form-control"
                                           placeholder="密码" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control"
                                           placeholder="密码确认" />
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="rRole" id="rRole">
                                        <option value="student" selected="selected">学员</option>
                                        <option value="organization">机构</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <a onclick="register()" name="register-submit" id="register-submit" tabindex="4"
                                                   class="form-control btn btn-register">
                                                立即注册
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
 <!-- /container -->



<!--先导入JQ-->
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/auth/login.js}"></script>
<script th:src="@{/js/auth/register.js}"></script>
</body>
</html>
