<div class="row" id = "orgNav">
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    TrainingCollege
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li th:classappend="${ ( #httpServletRequest.getRequestURI().endsWith('classInfo') or
                        #httpServletRequest.getRequestURI().endsWith('classCreation') or
                        #httpServletRequest.getRequestURI().endsWith('classModification') ) ? 'active':''}">
                        <a th:href="@{/organization/{id}/classInfo(id=${session.organization.getId()})}">
                            班级信息
                        </a>
                    </li>
                    <li class="dropdown"
                        th:classappend="${ ( #httpServletRequest.getRequestURI().endsWith('classCreationHistory') or
                        #httpServletRequest.getRequestURI().endsWith('classModificationHistory') ) ? 'active':''}" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            申请历史 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a th:href="@{/organization/{id}/classCreationHistory(id=${session.organization.getId()})}">
                                开班申请
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/organization/{id}/classModificationHistory(id=${session.organization.getId()})}">
                                修改申请
                            </a></li>
                        </ul>
                    </li>
                    <li class="dropdown"
                        th:classappend="${ ( #httpServletRequest.getRequestURI().endsWith('enrollRecordCreation') or
                        #httpServletRequest.getRequestURI().endsWith('enrollRecordInfo') ) ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            入学登记 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a th:href="@{/organization/{id}/enrollRecordCreation(id=${session.organization.getId()})}">
                                新建记录
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/organization/{id}/enrollRecordInfo(id=${session.organization.getId()})}">
                                历史记录
                            </a></li>
                        </ul>
                    </li>
                    <li class="dropdown"
                        th:classappend="${ ( #httpServletRequest.getRequestURI().endsWith('dropRecordCreation') or
                        #httpServletRequest.getRequestURI().endsWith('dropRecordInfo') ) ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            退课登记 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >

                            <li><a th:href="@{/organization/{id}/dropRecordCreation(id=${session.organization.getId()})}">
                                新建记录
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/organization/{id}/dropRecordInfo(id=${session.organization.getId()})}">
                                历史记录
                            </a></li>
                        </ul>
                    </li>
                    <li class="dropdown"
                        th:classappend="${ ( #httpServletRequest.getRequestURI().endsWith('gradeRecordCreation') or
                        #httpServletRequest.getRequestURI().endsWith('gradeRecordInfo') ) ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            成绩登记 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a th:href="@{/organization/{id}/gradeRecordCreation(id=${session.organization.getId()})}">
                                    新建记录
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/organization/{id}/gradeRecordInfo(id=${session.organization.getId()})}">
                                历史记录
                            </a></li>
                        </ul>
                    </li>
                    <li class="dropdown"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/organization/'+session.organization.getId()+'/statistics') ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            机构信息 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a th:href="@{/organization/{id}/statistics/recruit(id=${session.organization.getId()})}">
                                    招生信息
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/organization/{id}/statistics/study(id=${session.organization.getId()})}">
                                    学习信息
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/organization/{id}/statistics/finance(id=${session.organization.getId()})}">
                                    财务信息
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="row" id = "stdNav">
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    TrainingCollege
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/classInfo') ? 'active':''}"
                            th:href="@{/student/{id}/classInfo(id=${session.student.getId()})}">
                        预订/选课
                    </a></li>
                    <li><a  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/cardInfo') ? 'active':''}"
                            th:href="@{/student/{id}/cardInfo(id=${session.student.getId()})}" >
                        我的会员卡
                    </a></li>
                    <li><a  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/orders') ? 'active':''}"
                            th:href="@{/student/{id}/orders(id=${session.student.getId()})}">
                        我的订单
                    </a></li>
                    <li><a  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/projects') ? 'active':''}"
                            th:href="@{/student/{id}/projects(id=${session.student.getId()})}">
                        我的班级
                    </a></li>
                    <li><a  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/grades') ? 'active':''}"
                            th:href="@{/student/{id}/grades(id=${session.student.getId()})}">
                        我的成绩
                    </a></li>
                    <li><a  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/consumption') ? 'active':''}"
                            th:href="@{/student/{id}/consumption(id=${session.student.getId()})}">
                        我的消费
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>



<div class="row" id = "manNav">
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    TrainingCollege
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/manager/approval/') ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            审批 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a th:href="@{/manager/examination/creation}">
                                    开班审批
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/manager/examination/modification}">
                                    修改审批
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/manager/accountSettlement') ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            结算 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a th:href="@{/manager/accountSettlement/payment}">
                                    支付结算
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/manager/accountSettlement/repayment}">
                                    退款结算
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/manager/statistics/') ? 'active':''}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            统计信息 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a th:href="@{/manager/statistics/recruit}">
                                    招生统计
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/manager/statistics/study}">
                                    学习统计
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/manager/statistics/finance}">
                                    财务统计
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
