
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>班级信息</title>
     <!--Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
    <link href="/static/css/class_info.css" th:href="@{/css/class_info.css}" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="container">
    <div class="row">
            <nav class="navbar navbar-default ">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">班级信息</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            开班申请 <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" >
                            <li><a href="#">新建申请</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">申请历史</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            修改申请 <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" >
                            <li><a href="#">新建申请</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">申请历史</a></li>
                        </ul>
                    </li>
                    <li><a href="#">学员登记</a></li>
                    <li><a href="#">成绩登记</a></li>
                    <li><a href="#">机构信息</a></li>

                </ul>
            </nav>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">班级信息</div>
            <div class="panel-body">
                所有班级的最新情况
            </div>
            <!-- List group -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>班级ID</th>
                    <th>班级名称</th>
                    <th>预计人数</th>
                    <th>当前人数</th>
                    <th>开学日期</th>
                    <th>结课日期</th>
                    <th>学费</th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="project:${projects}" data-toggle="modal" th:attr=" data-target='#'+${project.getId() }">
                        <td th:text="${project.getId()}">1</td>
                        <td th:text="${project.getClassName()}">软件工程1班</td>
                        <td th:text="${project.getMaxStdCnt()}">200</td>
                        <td th:text="${project.getCurStdCnt()}">180</td>
                        <td th:text="${project.getFromDate()}">2017/09/01</td>
                        <td th:text="${project.getToDate()}">2018/07/10</td>
                        <td th:text="${project.getTotalPrice()}">800</td>

                        <!-- Modal -->
                        <div th:id="${project.getId()}" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">课程信息</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group" >
                                            <li class="list-group-item" th:each="course: ${ courseMap.get(project.getId()) }">
                                                <span th:each="teacher: ${course.getTeacherList()}" th:text="${teacher.getName()}" class="badge">刘钦</span>
                                                <p th:text="${ course.getName()}"></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>

</div> <!-- /container -->

<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
