
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>学习统计</title>
    <!--Bootstrap core CSS -->
    <link href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="container">
    <div th:include="/fragments/navigation :: #manNav"></div>
</div> <!-- /container -->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>班级信息</h3>
            <!-- List group -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>机构ID</th>
                    <th>班级数</th>
                    <th>课程数</th>
                    <th>学员数</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orgStudyVO:${orgStudyVOs}" data-toggle="modal" th:attr=" data-target='#'+${orgStudyVO.orgId }">
                    <td th:text="${orgStudyVO.orgId}">1</td>
                    <td th:text="${orgStudyVO.projectCnt}">5</td>
                    <td th:text="${orgStudyVO.courseCnt}">6</td>
                    <td th:text="${orgStudyVO.stdCnt}">180</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>


<!-- Modal -->
<div th:each="orgStudyVO:${orgStudyVOs}" th:id="${orgStudyVO.orgId}" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">课程信息</h4>
            </div>
            <div class="modal-body" >
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th>课程名</th>
                        <th>最低分</th>
                        <th>最高分</th>
                        <th>平均分</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="courseVO:${orgStudyVO.courseVOs}">
                        <td th:text="${courseVO.courseName}">软件工程</td>
                        <td th:text="${courseVO.min}" th:class="${courseVO.min} lt 60 ? 'text-danger':'text-primary'">50</td>
                        <td th:text="${courseVO.max}" th:class="${courseVO.max} lt 60 ? 'text-danger':'text-primary'">90</td>
                        <td th:text="${courseVO.avg}" th:class="${courseVO.avg} lt 60 ? 'text-danger':'text-primary'">80</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
